on:
  push:
    branches:
      - "**"

name: Build
env:
  REPO: ${{github.repository}}

jobs:
  build:
    name: Run checks and build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version-file: go.mod

      - name: Vet
        run: make vet

      - name: Test
        run: make test

      - name: Build
        run: make

  docker-build:
    runs-on: ubuntu-latest
    name: Build the docker image
    env:
      TAG: ${{ github.ref_name }}
    steps:
      - name: Sanitize tag
        run: echo "TAG=${TAG//\//-}" >> $GITHUB_ENV

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Checkout
        uses: actions/checkout@v3

      - name: Build Image
        run: make image IMAGE=ghcr.io/${{env.REPO}}:${{env.TAG}}

      - name: Push
        run: docker push ghcr.io/${{env.REPO}}:${{env.TAG}}

  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version-file: go.mod

      - run: go fmt ./...

      - name: Verify No Differences after format
        run: test -z "$(git diff)"
